<!DOCTYPE html>
<html>
<head>
    <title>Poker-admin</title>
    <style type="text/css">
        canvas {
            /*border: 1px black solid;*/
        }
        h2.inDiv {
            text-align: center;
            font-size: 40px;
            margin-top: 0px;
        }
        h2.playerName {
            margin-top: 30px;
        }
        form {
            text-align: center;
        }
        div.container {
            width: 1400px;
        }
        div.form-group {
            text-align: center;
            padding-left: 30%;
            padding-right: 30%;
        }
        div.col-xs-4 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.col-xs-6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.col-xs-8 {
            padding-top: 15px;
            padding-bottom: 10px;
        }
        input {
            text-align: center;
        }
        input.form-control {
            padding-left: 6px;
            padding-right: 6px;
            font-size: 20px;
        }
        button.btn {
            font-size: 24px;
            padding-left: 6px;
            padding-right: 6px;
        }
    </style>
    <script src="./js/poker-admin.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>
<body>
    <center>
        <canvas id="id-canvas" width="1400" height="572"></canvas>
    </center>

        <div class="container">
            <div class="row">

                <!-- 
                    id-name: 一开始显示Player id或者输名字的框； 输完名字显示玩家现在的资产数量
                    
                    id-in: 供玩家输入自己的名字； 输完名字消失

                    id-bet: 供玩家输入自己当前的赌注

                    id-currentBey: 显示玩家当前的赌注

                    FTR-btn: 翻牌的按钮
                 -->
                
                <!-- player 0 -->
                <div class="col-xs-3">
                    <div id="0-name" class="col-xs-12">
                        <form role="form" onsubmit="return nameSubmit('0')">
                            <input type="text" class="form-control" id="0-in" placeholder="Enter your name" value="">
                        </form>
                    </div>
                    <div class="col-xs-4">                   
                        <button id="FTR-btn" class="btn btn-block btn-success" onclick="return FTR()">flop</button>
                    </div>
                    <div class="col-xs-4">                   
                        <button class="btn btn-block btn-info" onclick="return showP('0')">show</button>
                    </div>
                    <div class="col-xs-4">                   
                        <button class="btn btn-block btn-danger" onclick="return quitP('0')">fold</button>
                    </div>
                    <div class="col-xs-8"> 
                        <form role="form" onsubmit="return bet('0')">
                                <input id="0-bet" type="text" class="form-control" placeholder="Enter your bet" value="">
                        </form>
                    </div>
                    <div class="col-xs-4">                   
                        <button class="btn btn-block btn-primary" onclick="return nnext()">next</button>
                    </div>
                    <div class="col-xs-12">
                        <h2 id="0-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>
                </div>
                

                <!-- player 1 -->
                <div class="col-xs-3">
                    <div id="1-name" class="col-xs-12">
                        
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-danger" onclick="return quitP('1')">fold</button>
                    </div>
                    <div class="col-xs-12">
                        <h2 id="1-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>                    
                </div>

                <!-- player 2 -->
                <div class="col-xs-3">
                    <div id="2-name" class="col-xs-12">
                        
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-danger" onclick="return quitP('2')">fold</button>
                    </div>
                    <div class="col-xs-12">
                        <h2 id="2-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>
                </div>

                <!-- player 3 -->
                <div class="col-xs-3">
                    <div id="3-name" class="col-xs-12">
                        
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-danger" onclick="return quitP('3')">fold</button>
                    </div>
                    <div class="col-xs-12">
                        <h2 id="3-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>                    
                </div>
            


            </div>
        </div>

    
<!-- prepare for a new game: -->
<script type="text/javascript">
    var player_i = 0      // range: 0 1 2 3

    var socket = io()

    var check = []
    var sta = []
    var dealerIndex = 3   // 0 1 2 3 
    var view
    var pool
    var pile
    var board
    var players = []
    var names = ["", "", "", ""]

    for(var i=0; i<4; i++) {
        var player = Player(50 + 350 * i, 395)
        players.push(player)
    }

    // prepare for the next round
    var __ini__ = function() {
        
        check['flop'] = true, check['turn'] = false, check['river'] = false
        sta['cmp'] = true, sta['nxt'] = false

        document.getElementById('FTR-btn').innerHTML = "flop"
        dealerIndex = (dealerIndex+1) % 4
        
        // prepare the canvas
        view = View()

        // get a scrambled card pile
        pile = CardPile()
        
        // get an empty board
        board = Board()

        // show the back of 5 cards on the board
        var o = {
            com: "showBack",
        }
        socket.emit('exeCom', o)

        for(var i=0; i<4; i++) {
            // clear this player's cards and reset status
            players[i].ini()

            // show this player's name and his cards' back 
            var o = {
                com: "playerIni",
                i: i,
            }
            socket.emit('exeCom', o)
        }

        // show the dealer mark above dealerIndex
        var o = {
            com: "showDealer",
            i: dealerIndex,
        }
        socket.emit('exeCom', o)
        
        // give cards to the players
        view.holeCards(players, pile)
        
        // send cards to the clients
        for(var i=0; i<4; i++) {
            var o = {
                com: "holeCards",
                i: i,
                cards: players[i].cards
            }
            socket.emit('exeCom', o)
        }

        // reset pool
        pool = 0
    }

    __ini__()

</script>

<script type="text/javascript">

    // change players' names
    var nameSubmit = function(id) {
        var i = parseInt(id)
        var name = document.getElementById(id + '-in').value
        if(name.length > 4 || name.length == 0) {
            alert('length should <= 4 && > 0')
            return false
        }
        
        // send this name to all clients
        var o = {
            com: "playerName",
            name: name,
            i: i,
        }
        socket.emit('exeCom', o)
        
        return false
    }

    // go to flop, turn, river rounds
    var is_flop = function() {
        if(check['flop'] == false) {
            alert('not flop round')
            return false
        }
        return true
    }
    var is_turn = function() {
        if(check['turn'] == false) {
            alert('not turn round')
            return false
        }
        return true
    }
    var is_river = function() {
        if(check['river'] == false) {
            alert('not river round')
            return false
        }
        return true
    }
    var FTR = function() {
        var id = document.getElementById('FTR-btn')
        if(id.innerHTML == "flop") {
            if(is_flop()) {
                board.getXFrom(3, pile)
                
                // send current board to all users 
                var o = {
                    com: "board",
                    cards: board.cards,
                }
                socket.emit('exeCom', o)

                check['flop'] = false
                check['turn'] = true
                id.innerHTML = "turn"
                return
            }            
        }
        if(id.innerHTML == "turn") {
            if(is_turn()) {
                board.getXFrom(1, pile)

                // send current board to all users 
                var o = {
                    com: "board",
                    cards: board.cards,
                }
                socket.emit('exeCom', o)

                check['turn'] = false
                check['river'] = true
                id.innerHTML = "river"
                return
            }            
        }
        if(id.innerHTML == "river") {
            if(is_river()) {
                board.getXFrom(1, pile)

                // send current board to all users 
                var o = {
                    com: "board",
                    cards: board.cards,
                }
                socket.emit('exeCom', o)

                check['turn'] = false
                check['river'] = true
                id.innerHTML = "flop"
                return
            }           
        }
    }

    // show player by id
    var showP = function(id) {
        var i = parseInt(id)
        view.showPlayers([players[i]])
    }

    // quit player by id
    var quitP = function(id) {
        var i = parseInt(id)

        var o = {
            com: "playerQuit",
            i: i,
        }
        socket.emit('exeCom', o)
    }

    // handle bet request
    var bet = function(id) {
        
        var i = parseInt(id)
        var num = document.getElementById(id + '-bet').value
        num = parseInt(num)
        document.getElementById(id + '-bet').value = ""
        if(num.toString() == 'NaN' || num < 0) {
            alert('please input a number >= 0')
            return false
        }
        if(num > players[i].money) {
            alert('cannot bet that much!')
            return false
        }
        
        // send this bet to all clients 
        var o = {
            com: "playerBet",
            money: num,
            i: i,
        }
        socket.emit('exeCom', o)
        
        return false
    }

    // handle the request to cmp and play next round
    var compare = function() {
        if(board.cards.length < 3) {
            alert('please flop cards')
            return
        }
        var playersAlive = []
        for(var i=0; i<players.length; i++) {
            if(players[i].playing) {
                players[i].merge(board)
                // log(players[i])
                playersAlive.push(players[i])
            }
        }
        if(playersAlive.length) {
            var winners = findWinners(playersAlive)

            var o = {
                com: "printWinners",
                winners: winners,
                pool: pool,
            }
            socket.emit('exeCom', o)
            
        }           
    }
    var nnext = function() {
        if(sta['cmp']) {
            compare()
            sta['cmp'] = false
            sta['nxt'] = true
            return
        }
        if(sta['nxt']) {
            var  o = {
                com: "__ini__",
            }
            socket.emit('exeCom', o)
            return
        }
    }

</script>

<script type="text/javascript">
    
    socket.on('exeCom', function(obj) {
        var c = obj.com
        if(c == "playerBet") {
            var num = obj.money
            var i = obj.i
            var id = i.toString()
            players[i].moneyChange(num, i)
            pool += num
            var cur = document.getElementById(id + '-currentBet').innerHTML
            cur = parseInt(cur) + num
            document.getElementById(id + '-currentBet').innerHTML = cur.toString()
            return
        }
        if(c == "playerName") {
            var i = obj.i
            names[i] = obj.name
            players[i].showName(names[i])
            players[i].moneyChange(0, i)
            return
        }
        if(c == "playerQuit") {
            var i = obj.i
            view.quitPlayer(players[i])
            return
        }
        if(c == "board") {
            board.cards = obj.cards
            view.showBoard(board)            
            return
        }
        if(c == "showBack") {
            board.showBack(view)
            return
        }
        if(c == "playerIni") {
            var i = obj.i
            players[i].showBack(view)
            players[i].showName(names[i])
            return
        }
        if(c == "printWinners") {
            var winners = obj.winners
            view.printWinners(winners)
            for(var i=0; i<4; i++) {
                var id = i.toString() + '-currentBet'
                // log(id)
                document.getElementById(id).innerHTML = '0'
            }
            var len = winners.length
            var val = obj.pool / len
            for(var i=0; i<players.length; i++) {
                for(var j=0; j<winners.length; j++) {
                    var each = winners[j]
                    var p = players[i]
                    if(each.x == p.x && each.y == p.y) {
                        players[i].moneyChange(-val, i)
                    }
                }
            }
            return
        }
        if(c == "showDealer") {
            var dealerIndex = obj.i
            players[dealerIndex].showDealer(view)
            return
        }
        if(c == "holeCards") {
            var index = obj.i
            if(index == player_i) {
                players[index].cards = obj.cards
            }
            return
        }
        if(c == "__ini__") {
            __ini__()
            return
        }
    })


</script>


</body>

</html>












