<!DOCTYPE html>
<html>
<head>
    <title>
        Poker
    </title>

    <style type="text/css">
        button.btn {
            font-size: 20px;
        }
        input {
            text-align: center;
            padding-left: 6px;
            padding-right: 6px;
            font-size: 20px;
            width: 100%;
        }
        
    </style>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                
                <br>
                <br>
                <br>
                
                <center><h1>Welcome to Alexander Zhao's Online Poker Platform!</h1></center>

                <br>
                <br>
                <br>
                <br>
                
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <button class="btn btn-block btn-info" onclick="window.location.href='/poker?id=start'">start game</button>
                </div>
                
            </div>
            <div class="col-xs-1"></div>
        </div>        
    </div>
</body>
</html>






