<!DOCTYPE html>
<html>
<head>
    <title>Poker-User4</title>
    <style type="text/css">
        canvas {
            /*border: 1px black solid;*/
        }
        h2.inDiv {
            text-align: center;
            font-size: 40px;
            margin-top: 0px;
        }
        h2.playerName {
            margin-top: 30px;
        }
        form {
            text-align: center;
        }
        div.container {
            width: 1400px;
        }
        div.form-group {
            text-align: center;
            padding-left: 30%;
            padding-right: 30%;
        }
        div.col-md-4 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.col-md-6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.quit {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        div.col-md-8 {
            padding-top: 15px;
            padding-bottom: 10px;
        }
        input {
            text-align: center;
        }
        input.form-control {
            padding-left: 6px;
            padding-right: 6px;
            font-size: 20px;
        }
        button.btn {
            font-size: 24px;
            padding-left: 6px;
            padding-right: 6px;
        }
    </style>
    <script src="./public/js/poker-user.js"></script>
    <script src="./socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="./public/css/bootstrap.css">
</head>
<body>
    <center>
        <!-- <img src="cards/back.jpg"> -->
        <canvas id="id-canvas" width="1400" height="572"></canvas>

    </center>

        <div class="container">
            <div class="row">

                <!-- player 1 -->
                <div class="col-md-3">
                    <div id="p1-name" class="col-md-12">
                        <h2 class="inDiv playerName">Player 1</h2>
                    </div>
                    <div class="col-md-12">
                        <h2 id="1-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>
                </div>
                
                <!-- player 2 -->
                <div class="col-md-3">
                    <div id="p2-name" class="col-md-12">
                        <h2 class="inDiv playerName">Player 2</h2>
                    </div>
                    <div class="col-md-12">
                        <h2 id="2-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>
                </div>
                
                <!-- player 3 -->
                <div class="col-md-3">
                    <div id="p3-name" class="col-md-12">
                        <h2 class="inDiv playerName">Player 3</h2>
                    </div>
                    <div class="col-md-12">
                        <h2 id="3-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>
                </div>

                <!-- player 4 -->
                <div class="col-md-3">
                    <div id="p4-name" class="col-md-12">
                        <form role="form" onsubmit="return nameSubmit('4')">
                            <input type="text" class="form-control" id="p4-in" 
                                    placeholder="Enter your name" value="">
                        </form>
                    </div>
                    <div class="col-md-12 quit">                   
                        <button class="btn btn-block btn-danger" onclick="return quitP('4')">quit</button>
                    </div>
                    <div class="col-md-12">
                        <form role="form" onsubmit="return bet('4')">
                                <input id="p4-bet" type="text" class="form-control" placeholder="Enter your bet" value="">
                        </form>
                    </div>
                    <div class="col-md-12">
                        <h2 id="4-currentBet" class="inDiv">
                            0
                        </h2>
                    </div>                    
                </div>                
            </div>
        </div>

    


<script type="text/javascript">
    var player_i = 3

    var socket = io()

    var view
    var board
    
    var players = []
    var names = ["", "", "", ""]

    for(var i=0; i<4; i++) {
        var player = Player(50 + 350 * i, 395)
        players.push(player)    
    }

    var __ini__ = function() {
        
        view = View()
        board = Board()
        
        for(var i=0; i<4; i++) {
            // clear players.cards
            players[i].ini()
        }
    }


    __ini__()

</script>

<script type="text/javascript">

    // change players' names
    var nameSubmit = function(str) {
        var i = parseInt(str) - 1
        var name = document.getElementById('p' + str + '-in').value
        if(name.length > 4 || name.length == 0) {
            alert('length should <= 4 && > 0')
            return false
        }
        
        var o = {
            name: name,
            id: str
        }
        socket.emit('playerName', o)
        
        return false
    }

    // show player by id
    var showP = function(str) {
        var i = parseInt(str) - 1
        view.showPlayers([players[i]])
    }

    // quit player by id
    var quitP = function(str) {
        var i = parseInt(str) - 1
        socket.emit('playerQuit', i)
    }

    // handle bet request
    var bet = function(str) {
        var i = parseInt(str) - 1
        var ctx = document.getElementById('p' + str + '-bet').value
        document.getElementById('p' + str + '-bet').value = ""
        ctx = parseInt(ctx)
        if(ctx.toString() == 'NaN' || ctx < 0) {
            alert('please input a number >= 0')
            return false
        }
        if(ctx > players[i].money) {
            alert('cannot bet that much!')
            return false
        }
        
        var o = {
            money: ctx,
            id: str,
        }
        socket.emit('playerBet', o)
        
        return false
    }

    

</script>

<script type="text/javascript">
    
    socket.on('playerName', function(obj) {
        var i = parseInt(obj.id) - 1
        names[i] = obj.name
        players[i].showName(names[i])
        players[i].moneyChange(0, i)
        
    })
    
    socket.on('playerQuit', function(i) {
        // console.log(players[i])
        view.quitPlayer(players[i])
    })
    
    socket.on('playerBet', function(obj) {
        var ctx = obj.money
        var i = parseInt(obj.id) - 1
        var str = obj.id
        players[i].moneyChange(ctx, i)
        var cur = document.getElementById(str + '-currentBet').innerHTML
        cur = parseInt(cur) + ctx
        document.getElementById(str + '-currentBet').innerHTML = cur.toString()
    })
    
    socket.on('exeCom', function(obj) {
        var c = obj.com
        if(c == "board") {
            board.cards = obj.cards
            view.showBoard(board)            
            return
        }
        if(c == "showBack") {
            board.showBack(view)
            return
        }
        if(c == "playerIni") {
            var i = obj.i
            players[i].showBack(view)
            players[i].showName(names[i])
            return
        }
        if(c == "printWinners") {
            var winners = obj.winners
            view.printWinners(winners)
            for(var i=1; i<= 4; i++) {
                var id = i.toString() + '-currentBet'
                // log(id)
                document.getElementById(id).innerHTML = '0'
            }
            var len = winners.length
            var val = obj.pool / len
            for(var i=0; i<players.length; i++) {
                for(var j=0; j<winners.length; j++) {
                    var each = winners[j]
                    var p = players[i]
                    if(each.x == p.x && each.y == p.y) {
                        players[i].moneyChange(-val, i)
                    }
                }
            }
            return
        }
        if(c == "showDealer") {
            var dealerIndex = obj.i
            players[dealerIndex].showDealer(view)
            return
        }
        if(c == "holeCards") {
            var index = obj.i
            if(index == player_i) {
                players[index].cards = obj.cards
            }
            showP((player_i+1).toString())
            return
        }
        if(c == "__ini__") {
            __ini__()
            return
        }
    })


</script>

</body>

</html>