<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!--- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
	<title>Junchen Zhao</title>
	<meta name="description" content="">
	<meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/media-queries.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

  <!-- Header
  ================================================== -->
  <header id="home">

    <nav id="nav-wrap">

      <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

       <ul id="nav" class="nav">
          <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a class="smoothscroll" href="#portfolio">Fun</a></li>
          <li><a class="smoothscroll" href="#resume">Resume</a></li>
          <li><a class="smoothscroll" href="#contact">Contact</a></li>
       </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="row banner">
       <div class="banner-text">
       <!-- <!header and introduction> -->
          <h1 class="responsive-headline">I'm Junchen Zhao</h1>
          <h3>
            I'm a <a class="smoothscroll" href="#about">Math/Data Science student</a> and <a class="smoothscroll" href="#about">Sports-Lover</a>, pursuing <a class="smoothscroll" href="#portfolio">Beauty</a>, <a class="smoothscroll" href="#portfolio">Efficiency</a> and <a class="smoothscroll" href="#portfolio">Accuracy</a> in this digital world. Let's <a class="smoothscroll" href="#about">start scrolling</a> and learn more about me.
          </h3>
          <hr />
          <ul class="social">
             <li><a href="https://www.instagram.com/________chosen1/"><i class="fa fa-instagram"></i></a></li>
             <li><a href="https://www.github.com/g20150120"><i class="fa fa-github"></i></a></li>
             <li><a href="https://weibo.com/u/5529495889"><i class="fa fa-weibo"></i></a></li>
          </ul>
       </div>
    </div>

    <p class="scrolldown">
       <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about" style="background-color: #355070">

      <div class="row">
         <div class="three columns">
            <img style="width: 114px; height: 114px" src="images/profilepic.jpg" alt="me" />
         </div>
         <div class="nine columns main-col"> 
         <!about me>           
            <h2>About Me</h2>
              <p style="color: #babdc1">
                I'm currently a second-year at Roosevelt College in UC San Diego, majoring in Probability and Statistics and minoring in Data Science. I love sports of all kind, including basketball, frisbee, swimming to archery, chess, rubiks's cubes, pool, and CS:GO. I'm also a die-hard Harry Potter fan and Emma Watson fan. I was sorted into Gryffindor at Pottermore, and I'm with #TeamIronMan in MCU. I enjoy watching The Breaking Bad and TBBT, and I love listening to The Wallows, Jon Bellion, and Zara Larsson. 
              </p>
          
          </div> <!end main-col>
        </div> <!end row>
            

            <div class="row">
               <div class="three columns">
                  <img style="width: 114px; height: 114px" src="images/websitepic.jpg" alt="website logo" />
               </div>
               <div class="nine columns main-col">
               <!-- <!about this website> -->
                  <h2 style="color: white">About This Website</h2>
                  <p style="color: #babdc1">
                      I built this personal website using a template from <i><a href="https://www.styleshout.com/">StyleShout</a></i>. I used Node as server, jade as view engine, a domain from GoDaddy, and a vultr VPS as the host. This website is mobile-compatible but is best viewed in desktop Chrome or Safari. <a href="https://drive.google.com/open?id=1TcX9qCDak7b2LDZSgFbYi_GEOvNVKLFG">CLICK HERE</a> for pictures in the website in their original resolution.
                      <br>
                      <br>
                      The logo on the left is my own design. Its shape of sharp-edged square implies concision and order. Its color in light orange represents my energy and passion. 0 and 1 are the most important 'identity' in mathematics and represents the binary world in computer science; A and Z represents my initials, Alex (Junchen) Zhao, and are also the first and last of the English alphabet. 
                      <br>
                      <br>
                      I would like to use this website to share something about me. This project is also a trial to develop and deploy a somewhat well-organised, good-looking, and fully operational website from scratch. Image or file transmission might be inefficient or even ineffective sometimes, but please be patient HAHA :)
                      <br>
                      <br>
                      <i><a href="https://github.com/g20150120/poker">
                        My GitHub Repository
                      </a></i>
                      
                  </p>
               </div> <!end main-col>
            </div> <!end row>

            
            <div class="row">
              <div class="three columns"></div>
                <div class="nine columns main-col">
                <!contact details>
                    <h2>Contact Details</h2>
                    <p class="address" style="color: #babdc1">
						<span>Junchen Zhao</span>
						<br>
						<span>
							+1 8588881194 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; La Jolla, CA, U.S.
							<br>
						 	+86 18261464931 &nbsp;&nbsp; Suzhou, Jiangsu, P.R. China
                        </span>
                        <br>
                        <span>alexzhaojc@gmail.com</span>
  					</p>
                </div> <!-- <!end main-col> -->
            </div> <!-- <! end row > -->


            <div class="row">
              <div class="three columns"></div>
              <!-- <!download resume> -->
                <div class="nine columns main-col">                    
                    <p>
                       <a href="downloadPDF?id=Resume" class="button"><i class="fa fa-download"></i>Download Resume</a>
                    </p>             
                </div> <!--end main-col-->
            </div> <!-- <! end row > -->
            
</section> <!-- About Section End-->




   <!=========================Portfolio=================================>
   <section id="portfolio">

      <div class="row">

        <div class="twelve columns collapsed">

            <h1>Check Out Some Fun</h1>
            <!======portfolio-wrapper======>
            
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

                <!item01 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-01" title="">
                        <img alt="" src="images/portfolio/cube.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>Cube</h5>
                            <p>Rubik's Cube in the Flowers</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item01 ends>

                <!item02 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-02" title="">
                        <img alt="" src="images/portfolio/lego.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>LEGO Technic</h5>
                            <p>My LEGO Technic Collection</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item02 ends>

                <!item03 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-03" title="">
                        <img alt="" src="images/portfolio/ironman.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>I am Iron Man</h5>
                            <p>
                              Wearing Iron Man Suit in Norway
                            </p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item03 ends>

                <!item04 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-04" title="">
                        <img alt="" src="images/portfolio/sunset.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>Sunset</h5>
                            <p>Sunset Cliff in San Diego</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item04 ends>

                <!item05 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-05" title="">
                        <img alt="" src="images/portfolio/costume.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>The Purple Dragon</h5>
                            <p>Opening Ceremony</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item05 ends>

                <!item06 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-06" title="">
                        <img alt="" src="images/portfolio/gsw.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>Image Prediction</h5>
                            <p>Image Prediction using Markov Model</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item06 ends>

                <!item07 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-07" title="">
                        <img alt="" src="images/portfolio/gate.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>Skyscraper</h5>
                            <p>东方之门: one of the landmarks in my hometown Suzhou</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item07 ends>

                <!item08 starts>
                <div class="columns portfolio-item">
                  <div class="item-wrap">
                     <a href="#modal-08" title="">
                        <img alt="" src="images/portfolio/bb.jpg">
                        <div class="overlay">
                          <div class="portfolio-item-meta">
                            <h5>Emma Watson</h5>
                            <p>Beauty and the Beast, Shanghai Premiere</p>
                          </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>
                  </div>
                </div>
                <!item08 ends>

              
            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->


        <!======Modal Popup======>

        <!modal01 starts>
        <div id="modal-01" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-cube.jpg" alt="" />
          <div class="description-box">
            <h4>Rubik's Cube in the flowers</h4>
            <p>
              I took this picture during a field trip in early spring.
              <br>
              February 8, 2016
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal01 ends>

        <!modal02 starts>
        <div id="modal-02" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-lego.jpg" alt="" />
          <div class="description-box">
            <h4>LEGO 8043, LEGO 42009, LEGO 8110 &amp; LEGO 42055</h4>
            <p>
              I am impressed by their delicate mechanical structures.
              <br>
              July 12, 2018
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal02 ends>

        <!modal03 starts>
        <div id="modal-03" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-ironman.jpg" alt="" />
          <div class="description-box">
            <h4>Aurland, Norway</h4>
            <p>
              A place close to Flam and the end of Sognefjord.
              <br>
              Photoshop credit to Jackie Qin
              <br>
              August 25, 2018
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal03 ends>

        <!modal04 starts>
        <div id="modal-04" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-sunset.jpg" alt="" />
          <div class="description-box">
            <h4>The Sunset Cliff</h4>
            <p>
              Spring break sightseeing.
              <br>
              March 27, 2019
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal04 ends>

        <!modal05 starts>
        <div id="modal-05" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-costume.jpg" alt="" />
          <div class="description-box">
            <h4>The Purple Dragon</h4>
            <p>
              Fun with sports meeting opening ceremony.
              <br>
              October 8, 2016
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal05 ends>

        <!modal06 starts>
        <div id="modal-06" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-gsw.jpg" alt="" />
          <div class="description-box">
            <h4>Elementary Image Prediction</h4>
            <p>
              My program merges the logoes of the Golden State Warriors as the prediction given some similar logoes.
              <br>
              November 29, 2018
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal06 ends>

        <!modal07 starts>
        <div id="modal-07" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-gate.jpg" alt="" />
          <div class="description-box">
            <h4>东方之门</h4>
            <p>
              I took this photo on the 29th floor of another building nearby.
              <br>
              August 2016
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal07 ends>

        <!modal08 starts>
        <div id="modal-08" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="images/portfolio/modals/m-bb.jpg" alt="" />
          <div class="description-box">
            <h4>I went to Beauty and the Beast Premiere in Shanghai as a fan of Emma Watson.</h4>
            <p>
              February 27, 2017
            </p>
          </div>
          <div class="link-box">
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
        <!modal08 ends>

        
        
        

      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->







   <!===========================Resume Section================================================>
   <section id="resume">


      <!===============Research Experience
      =============================>
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Research</span></h1>
         </div>

         <div class="nine columns main-col">
            
            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>High Frequency Trading Strategies</h3>
                  <p class="info">HFT Strategy on Noise Return of Stock Index Futures <span>&bull;</span> <em class="date">Summer 2019</em></p>

                  <p>
                  I did this research during my internship in Beijing iVolution Capital. It was inspired by Epps Effect and the lead-lag relationship between hushen 300 stock index and its derivative, hushen 300 stock index futures. I tried to use basis as a reference to capture great deviations of futures price from its value and trade futures accordingly.
                  <br>
                    <a href="/download/Epps_Effect.html">
                      Epps Effect
                    </a>
                  <br>
                    <a href="/download/Different_MA_and_basis_noise.html">
                      High/Low Frequency MA and basis noise
                    </a>
                  <br>
                  	<a href="/download/Cross-Correlation_and_Auto-Correlation.html">
                      Cross-Correlation and Auto-Correlation
                    </a>
                  <br>
                    <a href="/download/LSTM_Aided_Noise_Return_Model.html">
                      LSTM Aided Noise Return Model
                    </a>
                  <br>
                    <a href="/download/Ft_against_volume.html">
                      Futures Price in Time Axis and Volume Axis
                    </a>
                  <br>
                    <a href="/download/Dynamic_Time_Wrapping.html">
                      Dynamic Time Wrapping
                    </a>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>

            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Research on Killers of Three Kingdoms</h3>
                  <p class="info">Research on Expected Number of Suits in N Poker Cards <span>&bull;</span> <em class="date">June 2017</em></p>

                  <p>
                  This problem, the math expectation of the number of suits in N cards, firstly came to me in 2012 from a popular card game. I finally had enough skills in combinatorics and computer science to analyze this random process and provide solid reasoning in 2017.
                  <br>
                    <a href="/downloadPDF?id=Research">
                      Our Research Paper
                    </a>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>
            
            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Experiments on Photoelectrochemistry</h3>
                  <p class="info">Soochow University <span>&bull;</span> <em class="date">August 2017</em></p>

                  <p>
                  All our experiments were based on a published paper titled <i><a href="https://onlinelibrary.wiley.com/doi/full/10.1002/smll.201603457">Enhanced Photoelectrochemical Performance in Reduced Graphene Oxide / BiFeO3 Heterostructure </a></i>. I read and presented this paper to our group and performed experiments with help of a graduate student. 
                  <br>
                  <a href="/downloadPDF?id=Demo">
                    My Presentation
                  </a>
                  <br>
                  <a href="/downloadPDF?id=Report">
                    My Report
                  </a>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>


            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>BFS and DFS</h3>
                  <p class="info">Thoughts on How Search Algorithms Work <span>&bull;</span> <em class="date">August 2016</em></p>

                  <p>
                  After the informatics summer camp, I wrote down my thoughs about DFS and BFS to facilitate my understanding. 
                  <br>
                  <a href="/downloadPDF?id=Thoughts">
                    My thoughts
                  </a>
                  <br>
                  <a href="/downloadCPP?id=lakeCounting">
                    My code
                  </a>
                  </p>
               </div>

            </div> 
            <!=====item ends=====>

         </div> <!-- main-col end -->

      </div> <!End Research Experience>


<!===============project
      =============================>
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Project</span></h1>
         </div>

         <div class="nine columns main-col">
            
            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Cubot</h3>
                  <p class="info">a machine to solve Rubik’s Cubes <span>&bull;</span> <em class="date">2016-2017</em></p>

                  <p>
                  I used a C++ program to analyze a cube and generate a solution. I employed Arduino to control steppers through drivers and an external DC power source to execute the solution. I came up with the design and used 3D printing produce some of the components. 
                  <br>
                  <a href="/downloadPDF?id=Cubot">How it works</a>
                  <br>
                  <a href="https://www.zhihu.com/question/265112599/answer/295730257">Video Demo and Post on Zhihu(知乎)</a>
                  <br>
                  <a href="https://github.com/g20150120/cubot">GitHub Repository</a>
                  <br>
                  <a href="http://www.arduino.cn/forum.php?mod=viewthread&tid=67277&page=1&extra=#pid348528">Discussion in Arduino Forum</a>
                  <br>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>

            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Online Poker Platform</h3>
                  <p class="info">a platform to play Texas Hold'em <span>&bull;</span> <em class="date">2017</em></p>

                  <p>
                  I built this to play Texas Hold'em Poker with my friends. It is a web application mainly in javascript and can run on any device as long as there is Internet connection, which allows us to play anywhere anytime. I established instant dual connection between the clients and the server, so we don't have to refresh the webpage.
                  <br>
                  <a href="/downloadPDF?id=Poker">More Description</a>
                  <br>
                  <a href="https://github.com/g20150120/poker">GitHub Repository</a>
                  <br>
                  <a href="/poker">Poker</a> 
                  </p>

               </div>

            </div> 
            <!=====item ends=====>

            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Pocket College</h3>
                  <p class="info">a platform for students to share experiences and information <span>&bull;</span> <em class="date">2017</em></p>
                  <p>
                  This website is originated from the final group project in SPCS Web Technologies. I implemented all the functions concerned with server and database while my partner Kevin animated those webpages and provided beautiful contents.
                  <br>
                  <a href="https://github.com/g20150120/pocketcollege">GitHub Repository</a>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>

            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Weibo Web Crawler</h3>
                  <p class="info">an experiment to do data mining in the largest social media in China <span>&bull;</span> <em class="date">2017</em></p>
                  <p>
                  Data mining is a cricial part of data science. I tried to get some data out of the Internet and do some analysis. It's fun to know some regular expressions and write some python.
                  <br>
                  <a href="https://github.com/g20150120/weibospider">GitHub Repository</a>
                  </p>

               </div>

            </div> 
            <!=====item ends=====>


            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>NLP Experimenting</h3>
                  <p class="info">红楼梦后四十回也来自曹雪芹吗？ <span>&bull;</span> <em class="date">2018</em></p>

                  <p>
                    我得到<a href="https://zhuanlan.zhihu.com/p/29209681">楼宇</a>文章的启发，学习并且复现了红楼梦无字典分词和PCA。之后我尝试修改了代码，对哈利波特中文译本的前三章进行了同样的无字典分词和PCA。后者的PCA和前者有较大不同，我们有理由相信红楼梦后四十回和前八十回不是出自同一个作者。
                  <br>
                  <a href="https://github.com/g20150120/analysis_on_the_story_of_a_stone">GitHub Repository</a>         
                  </p>

               </div>

            </div> 
            <!=====item ends=====>
            

         </div> <!-- main-col end -->

      </div> <!End project>

      <!===============Summer Program
      =============================>
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Summer Program</span></h1>
         </div>

         <div class="nine columns main-col">
            
            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Stanford Pre-Collegiate Studies</h3>
                  <p class="info">Stanford <span>&bull;</span> <em class="date">July 2017</em></p>

                  <p>
                  I studied the fundamentals of <i>Web Technologies</i> , including both frontend (HTML, Javascript, and CSS) and backend (Node with Express and MongoDB). I met excellent instructors and TAs who helped us with the coursework. This personal website would not be possible without this summer camp experience.  
                  </p>

               </div>

            </div> 
            <!=====item ends=====>
            
            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Harvard Summit for Young Leaders in China</h3>
                  <p class="info">Shanghai <span>&bull;</span> <em class="date">August 2017</em></p>

                  <p>
                  I learned basic electrical components and circuit design in <i>Practical Electronics</i> and the impact technology has on privacy in this big data era in <i>Introduction to Privacy &amp; Technology</i>. I worked with my teammates in the project of making an online platform to share free delivery capabilities.
                  </p>

               </div>

            </div> 
            <!=====item ends=====>


            <!=====item starts=====>
            <div class="row item">

               <div class="twelve columns">

                  <h3>Summer Camp of Olympiad in Informatics</h3>
                  <p class="info">Zhenjiang <span>&bull;</span> <em class="date">July 2016</em></p>

                  <p>
                  I studied intensively in class and by myself about data structures and algorithms including sort algorithms, search algorithms, dynamic programing, and recursive functions, as well as queue, stack, tree, map and hashmap on using STL. It was the basis of my programing experience. 
                  </p>

               </div>

            </div> 
            <!=====item ends=====>

         </div> <!-- main-col end -->

      </div> <!End Summer Program>



      <!=========================skills=================================>
      <div class="row skill"> <!-- style="border-bottom: 1px solid #E8E8E8;"> -->
          <div class="three columns header-col">
            <h1><span>Skills</span></h1>
          </div>

          <div class="nine columns main-col">            
            <div class="bars">
              <ul >
                  
                  <li>
                    <em>C/C++ and STL</em>
                    <ul>
                      <li>
                        learned in <a href="https://course.ucsd.edu/?r=CSE,%2012%20%20,A01,4990,1934105,v1">CSE12</a> 
                        <br>
                        used in algorithm competitions
                        <br>
                        used in embedded system (Arduino) development
                      </li>
                    </ul>
                  </li>
                  
                  <li>
                    <em>Python 2/3</em>
                    <ul>
                      <li>
                        familiar with <a href="http://data8.org/">datascience</a> package in <a href="https://course.ucsd.edu/?r=DSC,%2010%20%20,A01,4980,1934105,v1">DSC10</a> 
                        <br>
                        used to experiment NLP, PCA, web mining etc.
                      </li>
                    </ul>
                  </li>

                  <li>
                    <em>Machine Learning Packages</em>
                    <ul>
                      <li>
                        familiar with deploying a tensorflow model using keras.
                      </li>
                    </ul>
                  </li>
                  
                  <li>
                    <em>Java and OO Design</em>
                    <ul>
                      <li>
                        learned in <a href="https://course.ucsd.edu/?r=CSE,%20%208B%20,A01,4970,1934105,v1">CSE8B</a> and <a href="https://course.ucsd.edu/?r=CSE,%2012%20%20,A01,4990,1934105,v1">CSE12</a>
                        <br>
                        I developed my version of <a href="https://drive.google.com/open?id=10ZHu-i747y5CWmATJEqhdrFhpWg2k3ef">Tetris</a>.
                      </li>
                    </ul>
                  </li>

                  <li>
                    <em>Linux/Unix operating and Shell script</em>
                    <ul>
                      <li>learned in <a href="https://course.ucsd.edu/?r=CSE,%2015L%20,C52,4990,1934105,v1">CSE15L</a></li>
                    </ul>
                  </li>

                  <li>
                    <em>R</em>
                    <ul>
                      <li>learned in <a href="https://course.ucsd.edu/?r=MATH,181A%20,A04,4990,1934105,v1">MATH181A</a> to facilitate working with statistics</li>
                    </ul>
                  </li>

                  <li>
                    <em>Mathematica and Matlab</em>
                    <ul>
                      <li>used in scientific calculation, plotting, and solving diffrential equations</li>
                    </ul>
                  </li>

                  <li>
                    <em>Node with Express and MongoDB</em>
                    <ul>
                      <li>used in web server to handle requests, process data, and so on.</li>
                    </ul>
                  </li>
                  
                  <li>
                    <em>HTML, Javascript, and CSS</em>
                    <ul>
                      <li>used to design and animate webpages, and develop web applications</li>
                    </ul>
                  </li>
                                    
              </ul>
            </div><!-- end skill-bars -->

          </div> <!-- main-col end -->

      </div> <!end computer skills>


      

      </section>


   <!===================Contact Section
   ====================================>
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">
            <!before contact form>
                  <p class="lead">You can use the following form to send me an email (alexzhaojc@gmail.com). Feelings and suggestions of any kind are sincerely welcomed. I am also looking forward to know about you! 
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form onsubmit="return validateForm()" action="/contact_process" method="post" id="contactFForm" name="contactFForm" >
                <fieldset>

                  <div>
                     <label for="contactName">Your Name <span class="required">*</span></label>
                     <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
                     <label for="contactEmail">Your Email <span class="required">*</span></label>
                     <input type="text" value="" size="35" id="contactEmail"  name="contactEmail">
                  </div>

                  <div>
                     <label for="contactSubject">Subject </label>
                     <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit" type="submit">Submit</button>
                     
                  </div>

                  </fieldset>
                </form> <!-- Form End -->
                </div>

            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

             <h4>Address and Phone</h4>
             <p class="address">
               Junchen Zhao<br>
               La Jolla, CA, U.S.<br>
               Suzhou, Jiangsu, P.R. China<br>
               <span>+86 18261464931</span>
             </p>

           </div>

               <div class="widget widget_tweets">

                  

                </div>

            </aside>

      </div>

   </section> <!-- Contact Section End-->





   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.instagram.com/________chosen1/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.github.com/g20150120"><i class="fa fa-github"></i></a></li>
               <li><a href="https://weibo.com/u/5529495889"><i class="fa fa-weibo"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2019 Junchen Zhao</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>   
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script type="text/javascript">
      function validateEmail(str)
      {
        var len=str.length;
        var c1=str.indexOf("..")===-1;
        var c2=str[0]!=='@' && str[len-1]!=='@';
        var c3=str.indexOf(" ")===-1;
        var c4=true;
        var c5=str.indexOf('.')!==-1 && str.indexOf('@')!==-1;
        if(!(c1&&c2&&c3&&c4&&c5))
        {
            return false;
        }
        for(var i=0;i<len;i++)
        {
            if((str[i]>='a' && str[i]<='z')||(str[i]>='A' && str[i]<='Z')||(str[i]>='0' && str[i]<='9') || str[i]==='@' || str[i]==='.')
            {
                continue;
            }
            c4=false;
            break;
        }
        if(c4)
        {
            return true;
        }
        return false;
      }

      function validateForm()
      {
        if(document.forms["contactFForm"]["contactName"].value=="" || document.forms["contactFForm"]["contactEmail"].value=="" || document.forms["contactFForm"]["contactMessage"].value=="")
        {
          alert("Please fill in boxes marked with '*' !");
          return false;
        }
        if(document.forms["contactFForm"]["contactMessage"].value.length<=10)
        {
          alert("Please leave more message :)");
          return false;
        }
        if(validateEmail(document.forms["contactFForm"]["contactEmail"].value)===false)
        {
          alert("Please enter a valid Email address!");
          return false;
        }
        return true;
      }

   </script>


   <script src="js/ajax.libs.jquery.1.10.2.jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>